## String methods

## String methods are in-built functions in python for manipulating strings.

## 1.capitalize()- returns string after converting the first character to uppercase.

In [2]:
#capitalize() method
s='bollywood'
s.capitalize()

'Bollywood'

## 2. Lower() function which returns the string after converting all the characters to lowercase.

In [4]:
#lower() method
s1='CINEMA'
s1.lower()

'cinema'

## 3. Upper() function which returns the string after converting all the characters to upper case.

In [5]:
#Upper() method
a='movie'
a.upper()

'MOVIE'

## 4. Join () function which returns the string after concatenating elements of the string with a separator.

In [6]:
#join() method
s1=['Ram','Shyam','Mohan']
x=" ".join(s1)
print(x)

Ram Shyam Mohan

## 5. Len () function which returns the length of the string.

In [7]:
#len() method
s='Python Programming Language'
len(s)

27

## 6. count () function which returns the number of occurrences of the substring.

In [8]:
#count() method
st='Lionel Messi'
st.count('e')

2

## 7. find () function which returns the index of the subtring if it is found, else returns -1

In [9]:
#find() method
s='Ronaldo'
s.find('u')

-1

## 8. Is lower () function which checks if all the characters of the string are lower case or not

In [10]:
#Islower() Method
s='actors'
s.islower()

True

## 9. Is upper () function which checks if all the characters of the string are upper case or not

In [11]:
#Isupper() method
a='SONGS'
a.isupper()

True

## 10. split() function which returns a list of the string after breaking the string by the separator.

In [12]:
##split() method
s='Data + Science'
s.split('+')

['Data ', ' Science']

In [13]:
##split() method
s='Data Science'
s.split(' ')

['Data', 'Science']

## 11. strip () function which removes any extra spaces at the beginning and the end of the string

In [15]:
#strip() method
s='  Tom Cruise  '
s.strip()

'Tom Cruise'